extends layout

block content
	a(href'/list')= List
	h1= title
		
	form(method="POST" action="/moviepost")
		label(for="title") Titel
		br
		input(type="text" name="title" id="title" required)
		br
		label(for="year") Year
		br
		input(type="text" name="year" id="year" required)
		br
		label(for="desc") Description
		br
		textarea(name="desc" id="desc" required)
		br
		label(for="regi") Regi
		br
		input(type="text" name="regi" id="regi" required)
		br
		label(for="length") Length of movie
		br
		input(type="text" name="length" id="length" required)
		br
		label(for="imgUrl") Image URL
		br
		input(type="text" name="imgUrl" id="imgUrl" required)
		br
		input(type="submit" value="Lägg till film")