extends layout

block content
  h1= title
  form(method="POST" action="/moviepost")
     input(type="text" name="title" id="title" required)
     input(type="submit" value="Lägg till film")
   
   .content
      each val in movies.movies
         p= val.title
         hr
